@import "search";
@import "videos";
@import "selected";

body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
}

.content {
  display: flex;
}
